doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(onload='init();')
    block content
    #pois
      p
        a(class='all', href='#') All

        if (user)
          br
          a(class='favs', href='#') Favorites
        
      #sample
      #list 
        h3 Objects
        ul(id='objects' class='poisdiv')
      #likes
      
  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(src='http://maps.googleapis.com/maps/api/js')
  script(src='javascripts/Map.js')
  script(src='javascripts/index.js')